/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Mono:wght@400;500;700&display=swap");

/* Local Fonts */
@font-face {
  font-family: "Ringbearer";
  src: url("../fonts/RINGM___.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Albertus MT";
  src: url("../fonts/ALBMT___.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Albertus MT Light";
  src: url("../fonts/ALBMTL__.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* Tailwind CSS */
@import "tailwindcss";

/* Tailwind CSS Theme Styles */
@theme {
  --font-ringbearer: "Ringbearer", serif;
  --font-albertus-mt: "Albertus MT", serif;
  --font-albertus-mt-light: "Albertus MT Light", serif;
  --font-albert-sans: "Albert Sans", sans-serif;
  --font-fira-mono: "Fira Mono", monospace;
  --color-forest-green-500: oklch(0.24 0.06 134.81);
  --color-gold-250: oklch(0.54 0.11 90.25);
  --color-gold-500: oklch(0.64 0.11 90.25);
}

/* Tailwind CSS Base Styles */
@layer base {
  h1 {
    font-size: 2rem;
    line-height: 1.2em;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1.2em;
  }
}

/* Tailwind CSS Components */
@layer components {
  .button {
    background-color: var(--color-gold-500);
    border-radius: 3px;
    padding: 12px 24px;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
  }

  .button:hover,
  .button.button-outline:hover {
    background-color: var(--color-gold-250);
    border-color: var(--color-gold-250);
  }

  .button.button-outline {
    background-color: transparent;
    border: 1px solid var(--color-gold-500);
  }

  .button svg {
    display: inline-block;
    pointer-events: none;
  }
}

/* Animation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Update root font size used */
html {
  font-size: 20px;
  line-height: 1.4;
}

/* Character Grid */
.character-grid {
  gap: 30px;
}

.character-grid .character {
  flex: 0 1 100%;
  border-radius: 6px;
  overflow: hidden;
}

.character-grid .character picture,
.character-grid .character picture img {
  filter: saturate(0);
  transition: all 0.2s ease-in-out;
}

.character-grid .character picture.active,
.character-grid .character picture.active img,
.character-grid .character picture:hover,
.character-grid .character picture:focus,
.character-grid .character picture:hover img,
.character-grid .character picture:focus img {
  filter: saturate(1);
}

.character-grid .character picture.active + h2 {
  opacity: 1;
}

.character-grid .character img {
  pointer-events: none;
}

.character-grid .character:hover h2,
.character-grid .character:focus h2,
.character-grid .character:focus-visible h2,
.character-grid .character:focus-within h2,
.character-grid .character:target h2 {
  opacity: 1;
}

/* Loading Spinner */
#spinner img {
  animation: rotate 5s linear infinite;
}

#spinner:not(.hidden) {
  display: flex;
}

/* Start Button */
.character-grid:has(> .character > picture.active) + #start-button-container {
  bottom: calc(var(--spacing) * 8);
  visibility: visible;
  opacity: 1;
}

/* Text Container */
#text-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  scrollbar-width: none;
  position: relative;

  .word {
    margin: 0.25em 0.3em;

    .letter {
      opacity: 0.5;
      display: inline-block;
    }

    .letter.correct {
      opacity: 1;
    }

    .letter.incorrect {
      color: red;
      opacity: 1;
    }

    .letter.incorrect.extra {
      opacity: 0.5;
    }
  }
}

#text-container::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

#text-container.blur {
  filter: blur(5px);
}

/* Caret */
#caret {
  width: 0.15em;
  height: 1.2em;
  background-color: var(--color-gold-500);
  top: 0;
  left: 0;
  animation: blink 1s infinite;
  border-radius: 1px;
  transform-origin: top left;
  transition: all 0.1s ease;
}

/* Popover */
#settings-popover::backdrop {
  background-color: transparent;
  transition: background-color 0.5s ease-in-out;
}

#settings-popover:popover-open::backdrop {
  background-color: rgba(255, 255, 255, 0.5);
}

#time-select input[type="radio"] {
  clip-path: polygon(0 0);
}

#time-select label {
  opacity: 0.5;
  transition: all 0.2s ease;
}

#time-select label:hover {
  color: var(--color-gold-500);
  opacity: 1;
  cursor: pointer;
}

#time-select input[type="radio"]:checked + label,
#time-select input[type="radio"]:focus + label {
  color: var(--color-gold-500);
  opacity: 1;
}

#time-select input[type="radio"]:focus + label {
  outline: 5px auto Highlight;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: 1px;
}

/* Local data icon/text */
#local-data {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}

#local-data.active {
  opacity: 1;
  visibility: visible;
}

/* Small Tablet Sizes (640px) and up */
@media screen and (width >= 40rem) {
  /* Tailwind CSS Base Styles */
  @layer base {
    h1 {
      font-size: 2.6rem;
      line-height: 1.15em;
    }
  }

  /* Character Grid */
  .character-grid {
    .character {
      flex-basis: calc(50% - 15px);
    }
  }
}

/* Small Desktop Sizes (1024px) and up */
@media screen and (width >= 64rem) {
  /* Tailwind CSS Base Styles */
  @layer base {
    h1 {
      font-size: 3rem;
      line-height: 1.13em;
    }
  }

  /* Character Grid */
  .character-grid {
    gap: 40px;
    .character {
      flex-basis: calc(33.33% - (80px / 3));
    }
  }
}
