/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Fira+Mono:wght@400;500;700&display=swap");

/* Local Fonts */
@font-face {
  font-family: "Ringbearer";
  src: url("../fonts/RINGM___.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Albertus MT";
  src: url("../fonts/ALBMT___.TTF") format("truetype");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

/* Tailwind CSS */
@import "tailwindcss";

/* Tailwind CSS Theme Styles */
@theme {
  --font-ringbearer: "Ringbearer", serif;
  --font-albertus-mt: "Albertus MT", serif;
  --font-albert-sans: "Albert Sans", sans-serif;
  --font-fira-mono: "Fira Mono", monospace;
  --color-forest-green-500: oklch(0.24 0.06 134.81);
  --color-gold-500: oklch(0.64 0.11 90.25);
}

/* Tailwind CSS Base Styles */
@layer base {
  h1 {
    font-size: 2rem;
    line-height: 1.2em;
  }
}

/* Tailwind CSS Components */
@layer components {
  .button {
    background-color: var(--color-gold-500);
    border-radius: 3px;
    padding: 12px 24px;
    font-weight: 600;
  }

  .button svg {
    display: inline-block;
  }
}

/* Update root font size used */
html {
  font-size: 20px;
  line-height: 1.4;
}

/* Character Grid */
.character-grid {
  gap: 30px;

  .character {
    flex: 0 1 100%;
    border-radius: 6px;
    overflow: hidden;
  }

  .character img {
    pointer-events: none;
  }

  .character:hover,
  .character:focus,
  .character:focus-visible,
  .character:focus-within,
  .character:target {
    p {
      opacity: 1;
    }
  }
}

/* Text Container */
#text-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

  .word {
    margin: 0.25em 0.3em;

    .letter {
      opacity: 0.5;
      display: inline-block;
    }

    .letter.correct {
      opacity: 1;
    }

    .letter.incorrect {
      color: red;
      opacity: 1;
    }
  }
}

#text-container.blur {
  filter: blur(5px);
}

/* Footer */
#footer {
  border-top: 1px solid #ffffff1a;
}

/* Small Tablet Sizes (640px) and up */
@media screen and (width >= 40rem) {
  /* Tailwind CSS Base Styles */
  @layer base {
    h1 {
      font-size: 2.6rem;
      line-height: 1.15em;
    }
  }

  /* Character Grid */
  .character-grid {
    .character {
      flex-basis: calc(50% - 15px);
    }
  }
}

/* Small Desktop Sizes (1024px) and up */
@media screen and (width >= 64rem) {
  /* Tailwind CSS Base Styles */
  @layer base {
    h1 {
      font-size: 3rem;
      line-height: 1.13em;
    }
  }

  /* Character Grid */
  .character-grid {
    gap: 40px;
    .character {
      flex-basis: calc(33.33% - (80px / 3));
    }
  }
}
